<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmiesoft.fitpomodoro"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.FitPomodoroApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity
            android:name=".ui.activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/about"
            android:parentActivityName=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.dmiesoft.fitpomodoro.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.FavoriteActivity"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="andorid.support.PARENT_ACTIVITY"
                android:value="com.dmiesoft.fitpomodoro.ui.activities.MainActivity" />
        </activity>

        <service
            android:name=".services.TimerService"
            android:exported="false"
            android:stopWithTask="false"/>

        <receiver android:name=".receivers.TimerNotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.dmiesoft.fitpomodoro.ACTION_STOP_TIMER"/>
                <action android:name="com.dmiesoft.fitpomodoro.ACTION_OPEN_TIMER_FRAG"/>
                <action android:name="com.dmiesoft.fitpomodoro.ACTION_PAUSE_RESUME_TIMER_FRAG"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>